<link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">

<div id="nav-bar">
  <a class="name">Spotted.</a>
  <a class="nav" routerLink="login">Logout</a>
  <a class="nav">Profile</a>
</div>

<div id="component-container">
  <div class="indiv"><a>
    <img class="icon" src="../../assets/playlist.png" />
    <div class="component-title"> Merge Playlists</div>
  </a></div>

  <div class="indiv"><a>
    <img class="icon" src="../../assets/radio.png" />
    <div class="component-title"> Liked from Radio</div>
  </a></div>

  <div class="indiv"><a>
    <img class="icon" src="../../assets/song.png" />
    <div class="component-title"> Songs</div>
  </a></div>
</div>
